.main-content{
    background-color: rgba(234,244,246,255);
    height: 850px;
    width: 700px;
    margin-inline: auto;
    font-family: sans-serif;
    font-size: small;
}

.header{
    color: rgba(182,210,232,255);
}

.navigation {
    margin: 0px 40px 0px 0px;
    float: right;
}

.top-left-content{
    background-color: rgba(202,230,234,255);
    margin: 15px 15px;
    height: 150px;
    width: 35%;
    right: 310px;
    text-align: center;
    color: black;
    padding: 10px;
}

.text-content{
    position: relative;
    text-align: center;
    color: black;
    font-size: large;
    margin: 30px 0px;
}

.info-content{
    position: relative;
    bottom: 10px;
    text-align: center;
    color: black;
    font-size: xx-small;
}

.center{
    font-size: xx-small;
    padding: 15px 25px;
    float: left;
}

