.main-content{
    background-color: rgba(234,244,246,255);
    height: 850px;
    width: 1200px;
    margin-inline: auto;
    font-family: sans-serif;
    font-size: small;
}

.header label{
    margin: 0px 15px;
    color: rgba(182,210,232,255);
}

.navigation {
    margin: 0px 40px 0px 0px;
    float: right;
}

.row-content{
    margin: 15px 15px;
    height: 275px;
}

.top-left-content{
    background-color: rgba(202,230,234,255);
    height: 275px;
    width: 30%;
    right: 310px;
    text-align: center;
    color: black;
    padding: 10px;
}

.text-content{
    position: relative;
    text-align: center;
    color: black;
    font-size: large;
    margin: 70px 0px;
}

.info-content{
    position: relative;
    bottom: 30px;
    text-align: center;
    color: black;
    font-size: xx-small;
}

.center{
    font-size: xx-small;
    padding: 15px 25px;
    float: left;
}

.top-right-content{
    background-color: rgba(202,230,234,255);
    height: 275px;
    width: 66%;
    text-align: center;
    color: black;
    position: relative;
    bottom: 295px;
    left: 380px;
    padding: 10px;
}

.top-right-content img{
    position: relative;
    right: 10px;
    bottom: 10px;
    height: 295px;
    width: 795px;
}

.middle-content{
    background-color: rgba(202,230,234,255);
    height: 280px;
    width: 1175px;
    position: relative;
    bottom: 285px;
}

.middle-content img{
    height: 280px;
    width: 1175px;   
}

.middle-content h2{
    text-align: center;
    position: relative;
    bottom: 265px;
}

.middle-content hr{
    position: relative;
    bottom: 270px;
    width: 40px;
    color: black;
}

.middle-content p{
    position: relative;
    bottom: 265px;
    width: 280px;
    left: 450px;
    font-size: smaller;
    text-align: center;
}

.middle-content-one{
    background-color: rgba(202, 230, 234, 255);
    height: 180px;
    width: 1175px;
    position: relative;
    top: 305px;
    left: 15px;
}

.middle-content-one h2{
    text-align: center;
    position: relative;
    top: 60px;
}

.middle-content-one hr{
    position: relative;
    width: 40px;
    color: black;
    top: 70px;
}