.main-content{
    background-color: rgba(234,244,246,255);
    height: 700px;
    width: 1000px;
    margin-inline: auto;
    font-family: sans-serif;
}

.header-text{
    color: rgba(188,215,237,255);
}

.home{
    color: rgba(188,215,237,255);
    margin-left: 800px;
}